h2 {
    margin: 30px;
    text-align: center;
}

.main-element {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.item-element {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 12px;
    margin-right: 100px;
}

.button-container {
    margin-top: 20px;
}

label {
    margin-right: 10px;
    text-align: right;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input, select, textarea {
    border-radius: 5px;
    border: 1px solid gray;
    width: 220px;
}

textarea {
    resize: vertical;
}

input, select {
    height: 30px;
}

input, textarea {
    padding: 2px;
}

button {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 6px 30px;
}

.event-element {
    align-items: center;
    background: #e1e1e1;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 16px;
    flex-wrap: wrap;
}

.event-element-item {
    text-align: center;
    width: 100px;
}

.event-element-item:first-child {
    text-align: left;
}

.event-score {
    font-size: 24px;
}

.event-controls {
    display: flex;
    justify-content: flex-end;
}

.make-bet {
    cursor: pointer;
    position: relative;
    width: 20px;
}

.make-bet::before, .make-bet::after {
    background: #6f6f6f;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -10px;
    transition: 200ms;
    width: 20px;
}

.make-bet:hover::before, .make-bet:hover::after, .event-edit:hover, .event-edit:hover::before, .event-edit:hover::after {
    background: black;
}

.make-bet::after {
    transform: rotate(90deg);
}

.event-edit {
    cursor: pointer;
    margin-left: 30px;
    position: relative;
}

    .event-edit, .event-edit::before, .event-edit::after {
        background: #6f6f6f;
        border-radius: 50%;
        height: 4px;
        transition: 200ms;
        width: 4px;
    }

.event-edit::before, .event-edit::after {
    position: absolute;
    content: "";
    display: block;
}

.event-edit::before {
    top: -7px;
}

.event-edit::after {
    top: 7px;
}

.event-element-info {
    width: 100%;
    font-size: 12px;
    border-top: 1px solid white;
    padding-top: 8px;
    color: gray;
    margin-top: 5px;
}