.amount {
margin-right: -30px;
width : auto !important;
}

h2 {
    font-family: 'Sigmar One', cursive;
    margin: 30px;
    text-align: center;
}

button:hover {
    background-color: #d9d9d9;
}

.main-element {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.item-element {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 12px;
    margin-right: 100px;
}

.team-name {
    font-family: 'Sigmar One', cursive;
    font-size: 18px;
}

select:disabled {
    background: #b0b0b0;
}

.button-container {
    margin-top: 20px;
}

label {
    margin-right: 10px;
    text-align: right;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input, select, textarea {
    border-radius: 5px;
    border: 1px solid gray;
    width: 220px;
}

textarea {
    resize: vertical;
}

input, select {
    height: 30px;
}

input, textarea {
    padding: 2px;
}

button {
    border-radius: 5px;
    padding: 6px 30px;
}

.event-element {
    align-items: center;
    background: #e1e1e1;
    border: 2px outset;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 16px;
    flex-wrap: wrap;
}

.event-element-item {
    text-align: center;
    width: 100px;
}

    .event-element-item:first-child {
        text-align: left;
    }

.event-score {
    font-size: 24px;
}

.event-controls {
    display: flex;
    justify-content: flex-end;
}

.make-bet, .event-edit, .delete-bet {
    cursor: pointer;
    height: 20px;
    margin-left: 20px;
    position: relative;
    width: 20px;
}

    .make-bet::before, .make-bet::after, .delete-bet::before, .delete-bet::after {
        background: #6f6f6f;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -10px;
        transition: 200ms;
        width: 20px;
    }

    .make-bet:hover::before, .make-bet:hover::after, .event-edit:hover span, .event-edit:hover::before, .event-edit:hover::after, .delete-bet:hover::before, .delete-bet:hover::after {
        background: black;
    }

    .make-bet::after {
        transform: rotate(90deg);
    }

    .event-edit span, .event-edit::before, .event-edit::after {
        background: #6f6f6f;
        border-radius: 50%;
            content: "";
            display: block;
        height: 4px;
        left: 8px;
            position: absolute;
        transition: 200ms;
        width: 4px;
    }

        .event-edit span {
            top: 0;
        }

        .event-edit::before {
            top: 8px;
        }

        .event-edit::after {
            top: 16px;
        }

.event-element-info {
    width: 100%;
    font-size: 12px;
    border-top: 1px solid white;
    padding-top: 8px;
    color: gray;
    margin-top: 5px;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-item {
    margin: 0 10px 0 0;
}
