
@{
    ViewBag.Title = "AdminPanel";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Services")
@Scripts.Render("~/ViewModels")
@Styles.Render("~/Content/totalizatorStyles.css")

<h2>Users</h2>

<div class="main-element" data-bind="foreach: userList">
    <div class="item-element">
        <label id="UserName" data-bind="text: UserName"></label>
        @*<label id="dateOfEvent" data-bind="text: Name"></label>*@
        <button data-bind="click: $parent.MakeModerator.bind($data), disable: $parent.hasModeratorRole">Make Moderator</button>
        <button id="make-admin-button" data-bind="click: $parent.MakeAdmin.bind($data), disable: $parent.hasAdminRole">Make Admin</button>
        <button data-bind="click: $parent.DeleteUser.bind($data)">DeleteUser</button>
    </div>
    <div class="item-element">
    </div>
</div>

<div class="pagination-container" data-bind="foreach: paginationButtons">
    <button class="pagination-item" data-bind="text: $data, click: $parent.load.bind($data)"></button>
</div>


@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.js"></script>
    <script>
        var adminService = new AdminService();
        var adminPanelViewModel = new AdminPanelViewModel(adminService);
        adminPanelViewModel.init();
        adminPanelViewModel.load();
        ko.applyBindings(adminPanelViewModel);
    </script>
}