@{
    ViewBag.Title = "CreateEvent";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Services")
@Scripts.Render("~/ViewModels")
@Styles.Render("~/Content/totalizatorStyles.css")

<h2>CreateEvent</h2>
<div class="main-element">
    <div class="item-element">
        <label for="gameType">Type</label>
        <select id="gameType" data-bind="options: TypeList, optionsText: 'Name', optionsValue: 'Id', value: TypeOfEvent"></select>
    </div>
    <div class="item-element">
        <label for="date">Date</label>
        <input type="datetime-local" id="date" data-bind="value: DateOfEvent">
    </div>
    <div class="item-element">
        <label>Name</label>
        <input id="name" data-bind="value: NameOfEvent">
    </div>
    <div class="item-element">
        <label>Description</label>
        <textarea id="description" data-bind="value: DescriptionOfEvent"></textarea>
    </div>
    <div class="item-element">
        <label>First Team</label>
        <select id="firstTeam" data-bind="options: TeamList, optionsText: 'Name', optionsValue: 'Id', value: FirstTeamId"></select>
    </div>
    <div class="item-element">
        <label>Second Team</label>
        <select id="secondTeam" data-bind="options: TeamList, optionsText: 'Name', optionsValue: 'Id', value: SecondTeamId"></select>
    </div>
    <div class="item-element">
        <label>First Team Coefficient</label>
        <input type="number" step="0.1" id="coefficient" data-bind="value: TeamFirstCoefficient">
    </div>
    <div class="item-element">
        <label>First Second Coefficient</label>
        <input type="number" step="0.1" id="coefficient" data-bind="value: TeamSecondCoefficient">
    </div>
    <div class="item-element">
        <label>Winner</label>
        <select id="winner" data-bind="options: TeamList, optionsText: 'Name', optionsValue: 'Id', value: WinnerTeamId, attr : {'disabled' : isDisabled}"></select>
    </div>
    <div class="item-element">
        <label>First Team Points</label>
        <input type="number" step="0.5" id="total" data-bind="value: TeamFirstPoints">
    </div>
    <div class="item-element">
        <label>Second Team Points</label>
        <input type="number" step="0.5" id="total" data-bind="value: TeamSecondPoints">
    </div>
    <div class="item-element">
        <label>Status</label>
        <select data-bind="options: StatusesList, value: StatusOfEvent, event: {change: OnChangeStatus}"></select>
    </div>
    <div class="button-container">
        <button data-bind="click: SaveEvent">Submit</button>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
    <script>
        function getCookiePartByKey(key) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + key + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
        var createEventService = new CreateEventService();
        var createEventViewModel = new CreateEventViewModel(createEventService);
        createEventViewModel.init();
        ko.applyBindings(createEventViewModel);
    </script>
}



