
@{
    ViewBag.Title = "CreateEvent";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Services")
@Scripts.Render("~/ViewModels")
@Styles.Render("~/Content/totalizatorStyles.css")


<h2>Edit Event</h2>

<div class="main-element">
    <div class="item-element">
        <label for="coefficient-first-team" data-bind="text: TeamFirstNameLabel"></label>
        <input  type="number" step="0.1" id="coefficient-first-team" data-bind="value: TeamFirstCoefficient">
    </div>
    <div class="item-element">
        <label for="coefficient-second-team" data-bind="text: TeamSecondNameLabel"></label>
        <input type="number" step="0.1" id="coefficient-second-team" data-bind="value: TeamSecondCoefficient" />
    </div>
    <div class="item-element">
        <label for="winner">Winner</label>
        <select id="winner" data-bind="options: TeamList, optionsText: 'Name', optionsValue: 'Id', value: WinnerTeamId, attr : {'disabled' : isDisabled}"></select>
    </div>
    <div class="item-element">
        <label for="total-first-team" data-bind="text: TeamFirstPointsLabel"></label>
        <input type="number" step="0.5" id="total-first-team" data-bind="value: TeamFirstPoints">
    </div>
    <div class="item-element">
        <label for="total-second-team" data-bind="text: TeamSecondPointsLabel"></label>
        <input type="number" step="0.5" id="total-second-team" data-bind="value: TeamSecondPoints">
    </div>
    <div class="item-element">
        <label for="status">Status</label>
        <select id="status" data-bind="options: StatusesList, value: StatusOfEvent, event: {change: OnChangeStatus}"></select>
    </div>
    <div class="button-container">
        <button data-bind="click: SaveEvent">Submit</button>
    </div>
</div>

@section scripts{
    <script>
        var editEventService = new EditEventService();
        var editEventViewModel = new EditEventViewModel(editEventService);
        editEventViewModel.init();
        ko.applyBindings(editEventViewModel);
    </script>
}