<div class="jumbotron">
    <div>
        <p> UserName </p>
        <input type="text" id="username" data-bind="value: UserName" required>
    </div>
    <div>
        <p> Password </p>
        <input type="password" id="pass" data-bind="value: UserPassword" required>
    </div>
    <div>
        <button data-bind="click: LoginClick">Login</button>
        <button data-bind="click: RegisterClick">Register</button>
    </div>

    <a href="/Home/Main">Main page</a>
    <a href="/Home/CreateEvent">Create Event page</a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Services")
    @Scripts.Render("~/ViewModels")
    @section scripts{
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
        <script>
            function getCookiePartByKey(key) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + key + "=");
                if (parts.length == 2) return parts.pop().split(";").shift();
            }


            var loginService = new LoginService();
            var loginViewModel = new LoginViewModel(loginService);

            loginViewModel.init();

            ko.applyBindings(loginViewModel);
        </script>
    }


</div>