<div class="jumbotron">
    <div>
        <p> UserName </p>
        <input type="text" id="username" required>
    </div>
    <div>
        <p> Email </p>
        <input type="email" id="email" required>
    </div>
    <div>
        <p> Password </p>
        <input type="password" id="pass" required>
    </div>
    <div>
        <input type="submit" id="submit" value="Login">
    </div>


    <div>

        <input id="userid"/> <br>
        <input type="submit" id="find" value="FindUser">
    </div>

    <input id="findusername"/>
    <input id="finduseremail"/>

    <div>
        <input id="deleteid"/>
        <input type="submit" id="delete" value="Delete">
    </div>

    <div>
        <input type="submit" id="getAllUsers" value="GetAllUsers">
    </div>

    @section scripts{
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
        <script>
            function getCookie(name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                if (parts.length == 2) return parts.pop().split(";").shift();
            }

            $(function () {
                var tokenKey = "tokenInfo"; //FIX
                $('#submit').click(function (e) {
                    e.preventDefault();
                    var data = {
                        grant_type: 'password',
                        username: $('#username').val(),
                        email: $('#email').val(),
                        password: $('#pass').val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/token',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        dataType: 'json',
                        data: data
                    }).done(function (data) {
                        var expire = new Date();
                        expire.setHours(expire.getHours() + 4);
                        document.cookie = "tokenInfo=" + data.access_token + "; path=/; expires=" + expire.toUTCString() + ";";
                        //     sessionStorage.setItem(tokenKey, data.access_token);
                    })
                });
            })

            $(function () {
                $('#delete').click(function (e) {
                    e.preventDefault();
                    var data = {
                        id: $('#deleteid').val(),
                    };
                    $.ajax({
                        type: 'DELETE',
                        url: '/api/user/DeleteUser',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                    })
                });
            })

            $(function () {
                $('#find').click(function () {
                    var tokenKey = "tokenInfo"; //FIX
                    var a = $('#userid').val()
                    $.ajax({
                        type: 'GET',
                        url: '/api/user/GetUserNameById' + '?id=' + a,
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: function (xhr) {
                            var token = getCookie(tokenKey);
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        }
                    }).done(function (data) {
                        var obj = jQuery.parseJSON(data);
                        $("#findusername").val(obj.UserName)
                        $("#finduseremail").val(obj.Email)
                    });
                })
            })
            $(function () {
                var tokenKey = "tokenInfo"; //FIX

                $('#getAllUsers').click(function () {
                    $.ajax({

                        type: 'GET',
                        url: '/api/user/GetAllUsers',
                        contentType: 'application/json; charset=UTF-8',
                        beforeSend: function (xhr) {
                            var token = cookie.getItem(tokenKey);
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        }

                    })
                })
            })


        </script>
    }

</div>