<div class="jumbotron">
    <div>
        <p> UserName </p>
        <input type="text" id="username" data-bind="value: LoginUserName" required>
    </div>
    <div>
        <p> Password </p>
        <input type="password" id="pass" data-bind="value: UserPassword" required>
    </div>
    <div>
        <button data-bind="click: LoginClick">Login</button>
    </div>

    <div>
        <p data-bind="text: UserName"></p>
    </div>


    <a href="/Home/Main">Main page</a>


    @*<div>

            <input id="userid" /> <br>
            <input type="submit" id="find" value="FindUser">
        </div>

        <input id="findusername" />
        <input id="finduseremail" />

        <div>
            <input id="deleteid" />
            <input type="submit" id="delete" value="Delete">
        </div>

        <div>
            <input type="submit" id="getAllUsers" value="GetAllUsers">
        </div>*@

    <select data-bind="options: TeamsList"></select>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Services")
    @Scripts.Render("~/ViewModels")
    @section scripts{
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
        <script>
            function getCookiePartByKey(key) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + key + "=");
                if (parts.length == 2) return parts.pop().split(";").shift();
            }

            var loginService = new LoginService();
            var loginViewModel = new LoginViewModel(loginService);

            loginViewModel.init();

            ko.applyBindings(loginViewModel);



        </script>
    }
    

</div>