<h2>Login</h2>

<div class="main-element">
    <div class="item-element">
        <label> Email </label>
        <input type="text" id="username" data-bind="value: UserName" required>
    </div>
    <div class="item-element">
        <label> Password </label>
        <input type="password" id="pass" data-bind="value: UserPassword" required>
    </div>
    <div class="button-container">
        <button data-bind="click: LoginClick">Login</button>
    </div>
    <div class="button-container">
        <button data-bind="click: RegisrtationClick">Registration</button>
    </div>
    <a href="/Home/Main">Main page</a>
    <a href="/Home/CreateEvent">Create Event page</a>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Services")
@Scripts.Render("~/ViewModels")
@Styles.Render("~/Content/totalizatorStyles.css")

@section scripts{
    <script>
        function IfLoginedRedirectToMain() {
            var tokenKey = "tokenInfo";
            if (getCookiePartByKey(tokenKey) != null) location.href = "/Home/Main";
        }
        IfLoginedRedirectToMain();
        var loginService = new LoginService();
        var loginViewModel = new LoginViewModel(loginService);
        loginViewModel.init();
        ko.applyBindings(loginViewModel);
    </script>
}