<div class="jumbotron">
    <div>
        <p> UserName </p>
        <input type="text" id="username" data-bind="value: LoginUserName" required>
    </div>
    <div>
        <p> Password </p>
        <input type="password" id="pass" data-bind="value: UserPassword" required>
    </div>
    <div>
        <button data-bind="click: LoginClick">Login</button>
    </div>

    <div>
        <p data-bind="text: UserName"></p>
    </div>


    @*<div>

            <input id="userid" /> <br>
            <input type="submit" id="find" value="FindUser">
        </div>

        <input id="findusername" />
        <input id="finduseremail" />

        <div>
            <input id="deleteid" />
            <input type="submit" id="delete" value="Delete">
        </div>

        <div>
            <input type="submit" id="getAllUsers" value="GetAllUsers">
        </div>*@

    <select data-bind="options: TeamsList"></select>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Services/LoginService.js")
    @Scripts.Render("~/Scripts/ViewModels/LoginViewModel.js")
    @section scripts{
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
        <script>
            function getCookiePartByKey(key) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + key + "=");
                if (parts.length == 2) return parts.pop().split(";").shift();
            }

            function getTeams() {
                var tokenKey = "tokenInfo"; //FIX
                $.ajax({
                    type: 'GET',
                    url: '/api/team/GetListOfTeams',
                    contentType: 'application/json; charset=UTF-8',
                    beforeSend: function (xhr) {
                        var token = getCookiePartByKey(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    }
                }).done(function (data) {
                    var obj = jQuery.parseJSON(data);
                    let names = new Array();
                    for (let i = 0; i < obj.length; i++) {
                        names.push(obj[i].Name);
                    }
                    loginViewModel.TeamsList(names);
                })
            }

            function getUserNameFromToken() {
                var tokenKey = "tokenInfo"; //FIX

                $.ajax({
                    type: 'GET',
                    url: '/api/user/GetUserNameFromToken',
                    contentType: 'application/json; charset=UTF-8',
                    beforeSend: function (xhr) {
                        var token = getCookiePartByKey(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    }
                }).done(function (data) {
                    loginViewModel.UserName(data);
                })
            }



            var loginService = new LoginService();
            var loginViewModel = new LoginViewModel(loginService);

            loginViewModel.init();

            ko.applyBindings(loginViewModel);






            $(function () {
                $('#delete').click(function (e) {
                    e.preventDefault();
                    var data = {
                        id: $('#deleteid').val(),
                    };
                    $.ajax({
                        type: 'DELETE',
                        url: '/api/user/DeleteUser',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                    })
                });
            })

            $(function () {
                $('#find').click(function () {
                    var tokenKey = "tokenInfo"; //FIX
                    var a = $('#userid').val()
                    $.ajax({
                        type: 'GET',
                        url: '/api/user/GetUserNameById' + '?id=' + a,
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: function (xhr) {
                            var token = getCookiePartByKey(tokenKey);
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        }
                    }).done(function (data) {
                        var obj = jQuery.parseJSON(data);
                        $("#findusername").val(obj.UserName)
                        $("#finduseremail").val(obj.Email)
                    });
                })
            })
            $(function () {
                var tokenKey = "tokenInfo"; //FIX

                $('#getAllUsers').click(function () {
                    $.ajax({

                        type: 'GET',
                        url: '/api/user/GetUserNameFromToken',
                        contentType: 'application/json; charset=UTF-8',
                        beforeSend: function (xhr) {
                            var token = getCookiePartByKey(tokenKey);
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        }

                    })
                })
            })


        </script>
    }

</div>