@{
    ViewBag.Title = "Main";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Services")
@Scripts.Render("~/ViewModels")
@Styles.Render("~/Content/totalizatorStyles.css")

<h2>Main</h2>

<div class="main-element" data-bind="foreach: eventsList">
    <div class="event-element">
        <div class="event-element-item" data-bind="text: Name"></div>
        <div class="event-element-item" data-bind= "text: TeamFirstName"></div>

        <div class="event-element-item event-score">
            <span class="team-1-points"></span>
            <span>:</span>
            <span class="team-2-points"></span>
        </div>

        <div class="event-element-item" data-bind= "text: TeamSecondName"></div>

        <div class="event-element-item event-controls">
            <div class="make-bet"></div>
            <div class="event-edit"></div>
        </div>

        <div class="event-element-info">
            <div class="event-element-info-date" data-bind="text: Date"></div>
        </div>
    </div>
</div>

<div class="pagination-container" data-bind="foreach: paginationButtons">
    <button class="pagination-item" data-bind="text: $data, click: $parent.load.bind($data)"></button>
</div>

@section scripts{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
    <script>

        function getCookiePartByKey(key) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + key + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }



        var mainPageViewService = new MainPageViewService();
        var mainPageViewModel = new MainPageViewModel(mainPageViewService);
        mainPageViewModel.init();
        mainPageViewModel.load();
        ko.applyBindings(mainPageViewModel);


    </script>
}