@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Services")
@Scripts.Render("~/ViewModels")
@Scripts.Render("~/ViewModels")
@Styles.Render("~/Content/totalizatorStyles.css")

<h2>Regisrtation</h2>
<form class="main-element" data-bind="submit: RegisterClick">
    <div class="item-element">
        <label> UserName </label>
        <input type="text" id="username" data-bind="value: UserName" required>
    </div>
    <div class="item-element">
        <label> Email </label>
        <input type="email" id="email" data-bind="value: Email" required>
    </div>
    <div class="item-element">
        <label> Password </label>
        <input type="password" id="pass" data-bind="value: UserPassword" required>
    </div>
    <div class="button-container">
        <button type="submit">Register</button>
    </div>
</form>

@section scripts{
    <script>
        var registrationService = new RegistrationService();
        var registrationViewModel = new RegisrationViewModel(registrationService);
        registrationViewModel.init();
        ko.applyBindings(registrationViewModel);
    </script>
}