@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Services")
@Scripts.Render("~/ViewModels")
@Styles.Render("~/Content/totalizatorStyles.css")

<h2 id="profile">Profile</h2>

<div class="main-element">
    <div class="item-element">
        <label id="UserName" data-bind="text: UserName"></label>
    </div>
    <div class="item-element">
        <!-- ko foreach: UserRole -->
        <label id="dateOfEvent" data-bind="text: Name"></label>
        <!-- /ko -->
    </div>
</div>

<h2 id="bets">My Bets</h2>

<div class="main-element" data-bind="foreach: betList">
    <div class="event-element">
        <div class="event-element-item" data-bind="text: EventName"></div>
    </div>
</div>

<div class="pagination-container" data-bind="foreach: paginationButtons">
    <button class="pagination-item" data-bind="text: $data, click: $parent.load.bind($data)"></button>
</div>

@section scripts{
    <script>
        var profileService = new ProfileService();
        var userProfileViewModel = new UserProfileViewModel(profileService);
        userProfileViewModel.init();
        userProfileViewModel.load();
        ko.applyBindings(userProfileViewModel);
    </script>
}