@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Services")
@Scripts.Render("~/ViewModels")
@Styles.Render("~/Content/totalizatorStyles.css")

<h2 id="profile">Profile</h2>

<div class="main-element">
    <div class="item-element">
        <label id="UserName" data-bind="text: UserName"></label>
    </div>
    <div class="item-element">
        <label id="dateOfEvent" data-bind="text: UserRole"></label>
    </div>
</div>

<h2 id="bets">My Bets</h2>

@section scripts{
    <script>
        //       var userService = new UserService();
        var userProfileViewModel = new UserProfileViewModel();
        userProfileViewModel.init();
        ko.applyBindings(userProfileViewModel);
    </script>
}